#logo
{
    color:#6b8d2e!important;
    font-weight: bolder;
    font-size: 28px;
}
li
{
    padding: 10px 0;
}
li a
{
    margin-right: 10px;
    border-bottom: olivedrab 2px solid;
    color: white;
}
li a:hover
{
    border-bottom: white 2px solid;
}
.navbar
{
    background-color: transparent;
}

.onscroll-nav
{
    background-color:rgba(0,0,0,0.9);
    padding: 0 25px ;
    transition: 0.5s;
}