<div class="footer">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-4">
              <div class="each-section">
                <span class="contact">CONTACT</span>
                <hr>

                
                    <div class="each-contact d-flex pl-3  align-items-center">
                        <i class="fab fa-facebook mr-3"></i>
                        <span class="">facebook.me/sprotivo</span>
                    </div>
                    
                

                <div class="each-contact d-flex pl-3  align-items-center">
                    <i class="fab fa-whatsapp mr-3"></i>
                    <span class="">whatsapp.me/sprotivo</span>
                </div>


                <div class="each-contact d-flex pl-3  align-items-center">
                    <i class="fab fa-twitter mr-3"></i>
                    <span class="">twitter.me/sprotivo</span>
                </div>

                <div class="each-contact d-flex pl-3  align-items-center">
                    <i class="fab fa-instagram mr-3"></i>
                    <span class="">instegram.me/sprotivo</span>
                </div>

                


              </div>
               
            </div>
            <div class="col-md-4 ">
                <div class="each-section">
                    <span class="contact">ABOUT US </span>
                    <hr>
                    <div class="about">
                        <span class="text-success">SPORTIVO</span> the next generation of reservation sports places
                        you can reserve all sports related places from where you are 
                        quickly and simply
                    </div>
                    
                

                </div>
              </div>

              <div class="col-md-4 ">
                <div class="each-section">

                    <span class="place-owner">Do you own a place ? </span>
                    <hr>
                    <div class="about">
                        <span class="text-success">do you want to be owner ?</span> <br>
                        <span>1-sign up</span><br>
                        <span>2-go to profile</span><br>
                        <span>3-apple for request , wait admin approvment</span><br>
                        <span>4-<span class="text-success">Congratulation</span> now you are owner and can add place</span>
                    </div>
                    

                </div>
              </div>
        </div>
    
    </div>

</div>