
img
{
  height: 150px;
  width: 100%;
}

.input-hieght
{
    height: 45px;

}
.btn-search
{
    background-color: #f9ec00;
}

.myimg
{
    width: 100%;
    height: 340px;
    transition: transform 1s;
}

.layer
{

    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 1s;
}
.body
{

   background-color: rgb(26, 73, 82);
   overflow: hidden;
   padding-top: 100px;
   min-height: 100vh;
}

.more-info
{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.search
{
  
  width: 0px ;
  transition: 1s;
  overflow: hidden;
}
.fa-search
{
  transform: scale(1.2);
  color: white;
  cursor: pointer;
}
.hide-search
{
  width: 25px;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  font-weight: bolder;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: relative;
 
}

.cust-alert
{
  background-color: #1a4952;
  box-shadow: 0 0 10px black;
}

.each-filter-div
{
  min-width:50px ;
  height: 30px;
  border: 1px solid white ;
  background-color:rgb(44, 38, 61) ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 15px;

}
.fa-times-circle
{
  cursor: pointer;

}







.filter{
  
  position: fixed;
  top: 65px;
  left: 959.5px;
  width: 285px;
  
}


.filter-section
{
  transition: top 1s;
  width: 100%;
  min-height: 150px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 2px solid rebeccapurple;
}
.filter-bottom
{
  width: 100%;
  
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid rebeccapurple;

}
.price-range
{
  font-size: 12px;
}
.mat-slider
{
  width: 100%;
}
.mat-paginator
{
  background-color: rgba(252, 252, 252, 0.6);
  text-align: left;

}

.place
{
  height: 300px;
  background-color: #12383f;
  display: flex;
  padding: 0 ;
  box-shadow: 0 0 8px black;

}
.place .place-img
{
  width: 40%;
  height: 100%;
  display: flex;
}
.place-img .main-img
{ 
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-img .main-img img
{
  width: 90%;
  height: 90%;
  
}

.place-img .sup-imgs
{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1px;
}

.place-img .sup-imgs .sup-img
{
  width: 80%;
  height: 25%;
  border-radius: 50%;
  background-color: teal;
  overflow: hidden;

}
.place .place-info
{
  width: 60%;
  height: 100%;
  
  padding: 10px 25px;
  color: white;
}
.place img
{
  width: 100%;
  height: 100%;

}

