img
{
  height: 300px;
  width: 250px;
}

.place
{
    min-height: 200px;
    position: relative;
    overflow: hidden;
}

.place:hover .layer{

    top: 0;

}

.place:hover img{
    transform:  scale(1.2);
}
.input-hieght
{
    height: 45px;

}
.btn-search
{
    background-color: #f9ec00;
}

.myimg
{
    width: 100%;
    height: 340px;
    transition: transform 1s;
}

.layer
{

    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 1s;
}
.body
{

  overflow: auto;
   background-color: teal;
   padding-top: 100px;
   height: 1000px;
}

.more-info
{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.search
{
  
  width: 0px ;
  transition: 1s;
  overflow: hidden;
}
.fa-search
{
  transform: scale(1.2);
  color: white;
  cursor: pointer;
}
.hide-search
{
  width: 25px;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  font-weight: bolder;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: relative;
 
}
.hide-search::before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff017;
  clip-path: polygon(86% 21%, 26% 50%, 86% 77%);
}

