.main
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container
{
    height: 80%;
    width: 80%;
    background-color: rgb(216, 216, 212);
    border-radius: 10px;
    position: relative;
}
.register-container
{
  height: 80%;
  width: 80%;
  background-color: rgb(216, 216, 212);
  border-radius: 10px;
  position: relative;
}
.close
{
  position: absolute;
  top: -30px;
  right: -30px;
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.left-container
   {
    width: 50%;
    height: 100%;
    background-color: rgb(63, 156, 93);
    
  }
  .login-btn
  {
    width: 150px;
    border-radius: 20px;
    background-color: rgb(9, 92, 23);
    border: none;
    color: wheat;
    transition: 0.3s;
  }
  .login-btn:hover
  {
    transform: scale(0.9);
    
  }

  .login-img
  {
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url(../../../assets/football.png);
    background-size: cover;
  }

  .right-container
   {
    width: 50%;
    height: 100%;
    background-image: url(../../../assets/football.png);
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .right-container::before
  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
  }
 

 /* resposive */

  @media only screen and (max-width: 700px) {
    .left-container {
      width: 100%;
    }
    .right-container{
      display: none;
    }
  }




  /* sppiner*/
  .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
