.request
{
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    min-height: 50vh;
    overflow: auto;
    background-color: white;
}

.image-preview
{
    width: 60%;
    height:450px;
    background-color: yellow;
}
.image-preview img
{
    width: 100%;
    height: 100%;
}