<div  *ngIf="lodaing">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
<div class="row" *ngIf="!lodaing">
  
   
    
    <div class="col-md-6 text-white" *ngFor="let place of favoritPlaces">
      
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                  <img [src]="place.imaArrary[0]">
              </div>
              <mat-card-title>{{place.name}}</mat-card-title>
              <mat-card-subtitle class="text-warning">{{place.placeType}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="place.mainImgPath" alt="Photo of a Shiba Inu">
           
            <mat-card-actions>
              <button class="btn btn-success" (click)=showSch($event)>reserv</button>
              <button mat-button class="btn-outline-danger" (click)="removeFavorite(place._id)">Remove</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>