<div class="main mt-3">
    <div class="container">
        <div class="left">
            <h4 class="text-success">Request Document</h4>
            <div class="request-image">
                <img [src]="request.doucmentPhoto">
            </div>
        </div>
        <div class="right p-4">
            <h2 class="text-warning">USER INFORMATION </h2>
            <div class="d-flex user-details align-items-center">
                <div class="user-img mr-3">
                    <img [src]="user.photo">
                    
                </div>
                <div>
                    <span class="text-success">name {{user.firstName}}</span><br>
                    <span class="text-success">age {{user.age}}</span><br>
                    <span class="text-success">address {{user.address}}</span>
                </div>
            </div>
            <hr class="w-100">
            <div class="req-info">
                <h3 class="">REQUEST INFORMATION </h3>
                <div>
                    <span class="text-warning"><span class="text-dark">PLACE TYPE</span>  {{request.placeName}}</span><br>
                    <span class="text-warning"><span class="text-dark">CITY</span> {{request.governorate}}</span><br>
                    <span class="text-warning"><span class="text-dark">AREA</span> {{request.area}}</span>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-outline-danger mr-3" (click)="onReject()">Reject</button>
                <button class="btn btn-success" (click)="onAccept()">accept</button>

            </div>
            <div class="comment mt-2" *ngIf="showComment" >
                leave comment to user to know what to do next 
                <textarea class="form-control"></textarea>
                <button class="btn btn-danger mt-2">SUBMIT REJECTION </button>
            </div>
            
            
        </div>
    </div>
</div>
<div class="alert-confirm "*ngIf="alert">
    <div class="alert-box">
        <div class="text-success confirmation-text">CONFIRMATION BOX</div>
        <hr class="mb-3">
        By confirming this request user Will be owner 
        and can add place 
        <div class="mt-3">
            <button class="btn btn-outline-danger mr-3" (click)="cancle('alert')">cancle</button>
            <button class="btn btn-success" (click)="onConfirm()">CONFIRM</button>

        </div>
    </div>
</div>


<div class="alert-confirm "*ngIf="alertReject">
    <div class="alert-box">
        <div class="text-danger confirmation-text">Rejection</div>
        <hr class="mb-3">
        By rejecting  this request user should submit new one  
       
        <div class="mt-3">
            <button class="btn btn-outline-danger mr-3" (click)="cancle('alertReject')">cancle</button>
            <button class="btn btn-success" (click)="onConfirm()">CONFIRM</button>

        </div>
    </div>
</div>