<div class="ready py-3 px-4">
    <h1 class="text-success">RULES TO BE AN OWNER WITH US</h1> 
    <p>1- you need to request fill out the requet requirments</p>
    <p>2- wait untill we review your request</p>
    <p>3-if request accepted ! you are ready now to add your place </p>
    <p>4-if request rejected ! Read admin comment to your request , modify ,request agin</p>
    <div>
      <button class="btn btn-outline-danger mr-3">Not now </button>
      <button class="btn btn-success" (click)="aggre()">apply now </button>
    </div>
  </div>