<div class=""  *ngIf="!loading">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 home-col">
        <div class="numbers">
            <i class="fas fa-user-circle"></i>
            
            <div class="noOf">
              
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="w-50 m-auto" *ngIf="loading">
    <div class="">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <div *ngIf="dataSource.request.length==0" class="text-center mt-3">
    <h3 class="text-danger">*NO REQUESTS NOW</h3>
  </div>

  <table class="table table-striped table-dark mt-4" *ngIf="!loading && dataSource.request.length!=0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Place Type </th>
        <th scope="col">Governrate</th>
        <th scope="col">area</th>
        <th scope="col">state</th>
        <th scope="col">review</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of dataSource.request,let i=index">
        <th scope="row">
        <input name="chechreq"  type="checkbox" value="">
        </th>
        <td>{{request.placeName}}</td>
        <td>{{request.governorate}}</td>
        <td>{{request.area}}</td>
        <td>{{request.state}}</td>
        <td class="">
        <button class="btn btn-warning mr-2" (click)=showPlace(request._id)>Review </button>
        <button class="btn btn-danger" (click)=showPlace(request._id)>Delete </button>
        </td>
      </tr>
      
     
    </tbody>
  </table>
</div>