<div class="m-auto text-center" *ngIf="!loading && wallet.money==0 ">
        <h1>YOUR WALLET IS EMPTY </h1>

        <div>
            YOU CAN MAKE deposite BY ANY FAWRY PROVIDER 
            <input type="number" class="form-control w-50  my-3 mx-auto" [(ngModel)]="depositeAmount">
        <button class="btn btn-dark" (click)="getWithCode('deposite')">DEPOSITE</button>
        </div>
</div>
<div class="wallet py-2 px-3" *ngIf="!loading && wallet.money!=0 ">
    <h4>YOUR BALANCE IS </h4>
    <i class="fas fa-money-check-alt mr-2"></i>
    <span class="text-light">{{wallet.money}}: LE </span>
    <div class="btns mt-3">
        -YOU CAN MAKE WITHDRAW AND GET THE MONEY BY FAWREY 
        <button class="btn btn-dark mr-3" (click)="clickedWith()">show withdraw input</button>
        <button class="btn btn-danger" (click)="cancelWith()" *ngIf="clickedWithdraw" >cancel</button>
        <div class="withdraw" *ngIf="clickedWithdraw">
            <div>ENTER NUMBER BETWEEN 10 : {{wallet.money}}</div>
            <input type="number" class="form-control  w-50 d-inline-block mr-3" [(ngModel)]="withDrawAmout">
            <button class="btn btn-success" (click)="getWithCode('withdraw')">SUBMIT</button>
            <div class="text-danger mt-2" *ngIf="!ifAllowed">*you need to Enter number Bettwen 10 : {{wallet.money}}</div>
        </div>

        
        
        
    </div>
</div>



<div class="alert-confirm " *ngIf="getWithdrawCode">
    <div class="alert-box">
        <i class="far fa-times-circle" (click)="cancelWithAlert()"></i>
        <div class="text-success confirmation-text">
            <span class="payment-code">Fawrey Code </span><br>
            <span class="text-light">{{fawreyCode}}</span>
        </div>
        <hr class="mb-3">
        <div> </div>
        
       
    </div>
</div>