<section class="main d-flex justify-content-center align-items-center">

        <div class="search  w-75 d-flex justify-content-center px-5">
      
            <select class=" w-50 input-hieght" >
                <option value="0" selected disabled>Please select</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
            </select>
      
            <input type="text" placeholder="Location" class="input-hieght w-25">
            <button class="btn btn-success w-25 input-hieght" (click)="onSearch()">Search</button>
      
          </div>
          
        
      </section>
      