<section class="main d-flex justify-content-center align-items-center">

        <div class="search  w-75 d-flex justify-content-center px-5">
      
            <select class=" w-50 input-hieght" >
                <option value="0" selected disabled>Select type of sports</option>
                <option value="1">Street Wourkout</option>
                <option value="2">Gym</option>
                <option value="3">Basket Ball</option>
                <option value="3">Tennis</option>
                <option value="3">Ballet</option>
                <option value="3">Basket Ball</option>
                <option value="3">All</option>
            </select>
      
            <select class=" w-50 input-hieght" >
                <option value="0" selected disabled>Location</option>
                <option value="1">Alexandria</option>
                <option value="2">Aswan</option>
                <option value="3">Asyut</option>
                <option value="4">Beheira</option>
                <option value="6">Beni Suef</option>
                <option value="6">Cairo</option>
                <option value="7">Dakahlia</option>
                <option value="8">Damietta</option>
                <option value="9">Faiyum</option>
                <option value="10">Gharbia</option>
                <option value="11">Giza</option>
                <option value="12">Ismailia</option>
                <option value="13">Luxor</option>
                <option value="14">Matruh</option>
                <option value="15">All</option>
            </select>
            
            <button class="btn btn-success w-25 input-hieght" (click)="onSearch()">Search</button>
            
          </div>
          
          
          
      </section>
      