<section class="main d-flex justify-content-center align-items-center">
      
      <div class="container main-text">
            <h1 class="mb-3">
                 Sportivo
                  <br>
                  The best way to Discover 
                  <br>
                  Sport places
            </h1>
            <button class="btn btn-warning" (click)="discoverOurFeature()"> Discover our feature </button>
      </div>
     
          
</section>
      
<section class="second-setion ">
     
      <div class="container my-5 py-5">
           
            <div class="w-100 card try mb-5">
                  <h5 class="card-header">Featured</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>



                
          <div class="row">

                              <div class="col-md-4 wow bounceInLeft" data-wow-duration="0.5s">
                                    <div class="card colored-card">
                                          <img src="../../../assets/imgs/illustration/gym.png">
                                          <div class="sport-header" >
                                                <span>Gym</span>
                                                <p>this is sports online Gem you can get 
                                                      many things to discover
                                                </p>
                                                <button class="btn btn-warning">Discover</button>
                                                <div class=" ml-1 mt-2 favorite-class">
                                                      <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                      <i class="fas fa-star" ></i>
                                                </div>
                                          </div>

                                          <div class="fav-star">

                                          </div>
                                          
                                    </div>
                              </div>
                              
                              <div class="col-md-4 wow bounceIn" data-wow-duration="2s">
                                    <div class="card colored-card">
                                          <img src="../../../assets/imgs/illustration/football.png">
                                          <div class="sport-header" >
                                                <span>Football</span>
                                                <p>this is sports online Gem you can get 
                                                      many things to discover
                                                </p>
                                                <button class="btn btn-warning">Discover</button>
                                                <div class=" ml-1 mt-2 favorite-class">
                                                      <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                      <i class="fas fa-star" ></i>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              
                              <div class="col-md-4 wow bounceInRight " data-wow-duration="1s">
                                    <div class="card colored-card">
                                          <img src="../../../assets/imgs/illustration/basketball.png">
                                          <div class="sport-header" >
                                                <span>basketBall</span>
                                                <p>this is sports online Gem you can get 
                                                      many things to discover
                                                </p>
                                                <button class="btn btn-warning">Discover</button>
                                                <div class=" ml-1 mt-2 favorite-class">
                                                      <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                      <i class="fas fa-star" ></i>
                                                </div>
                                          </div>
                                    </div>
                              </div>




                              <div class="col-md-4 wow zoomInLeft" data-wow-duration="1.5s">
                                    <div class="card colored-card">
                                          <div class="card colored-card">
                                                <img src="../../../assets/imgs/illustration/Golf.png">
                                                <div class="sport-header" >
                                                      <span>Golf</span>
                                                      <p>this is sports online Gem you can get 
                                                            many things to discover
                                                      </p>
      
                                                     <button class="btn btn-warning">Discover</button>
                                                      <div class=" ml-1 mt-2 favorite-class">
                                                            <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                            <i class="fas fa-star" ></i>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              
                              <div class="col-md-4 wow zoomInUp" data-wow-duration="2.5s">
                                    <div class="card colored-card">
                                          <div class="card colored-card">
                                                <img src="../../../assets/imgs/illustration/Fitness.png">
                                                <div class="sport-header" >
                                                      <span>Fitness</span>
                                                      <p>this is sports online Gem you can get 
                                                            many things to discover
                                                      </p>
                                                      <button class="btn btn-warning">Discover</button>
                                                      <div class=" ml-1 mt-2 favorite-class">
                                                            <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                            <i class="fas fa-star" ></i>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              
                              <div class="col-md-4 wow zoomInLeft" data-wow-duration="2s">
                                    <div class="card colored-card">
                                          <img src="../../../assets/imgs/illustration/football.png">
                                          <div class="sport-header" >
                                                <span>Football</span>
                                                <p>this is sports online Gem you can get 
                                                      many things to discover
                                                </p>
                                                <button class="btn btn-warning">Discover</button>
                                                <div class=" ml-1 mt-2 favorite-class">
                                                      <p  class="text-primary  mr-2 d-inline">Favorite</p>
                                                      <i class="fas fa-star" ></i>
                                                </div>
                                          </div>
                                    </div>
                              </div>


          </div>
      </div>
     
    



</section>