.main
{
    height: 100vh;
    background-image: url("../../../assets/imgs/player.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-home
{
    width: 70%;
    height: 70%;
    text-align: center;
}
.home-h1
{
    background-color: rgb(51, 170, 51);
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
}
.each-search
{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 100px;
    position: relative;
    padding: 10px 0;
}
.each-search i
{
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scale(1.5);
    color: green;
}
.each-search span
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    color: green;
}
.home-p
{
    letter-spacing: 5px;
    font-size: 35px;
    line-height: 30px;
}


.second-setion
{
    overflow: auto;
    background-color: rgb(229, 240, 128);
    position: relative;
    z-index: 2;
}
.go-btn
{
    transition: 0.3s;
    padding: 7px 0;
    letter-spacing: 10px;
    font-size: 20px;
}
.go-btn:hover
{
    transform: scale(0.97) !important;
    
}
/*
.col-md-4
{
    margin-bottom: 50px;
}

.card
{
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.card img
{
    width: 100%;
    height: 100%;
    transition: 0.7s;
}
.card .sport-header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    overflow: hidden;
}

.card .sport-header span
{
   font-size: 20px;
   color: salmon;
   font-weight: bolder;
   transition: 0.4s;
   margin-bottom: 30px;
   font-family: 'Sriracha', cursive;
   padding-left: 5px;
}
.card .sport-header p
{
  padding-top: 10px;

}
.card:hover img
{
    transform: scale(0.8);
}
.card:hover .sport-header
{
    height: 100%;
    background-color: rgba(243, 242, 157, 0.4);
    padding: 15px;
    
}
.card .sport-header:hover span
{
   font-size: 30px;
   color: rgb(165, 8, 139);
}

.fa-star
{
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.be-favorite
{
    color: rgb(13, 143, 13);
}
.fa-star:hover
{
    color: rgba(23, 206, 23, 0.6);
}


.colored-card
{
  
    position: relative;
}

.fav-star
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}

.colored-card::before
{
    content: "";
    position: absolute;
    top: -4px;
    left: -2px;
    right: -2px;
    bottom: -4px;
    z-index: -1;
    transform: skew(3deg);

}
.col-md-4:nth-child(1) .colored-card::before    
{
    background:linear-gradient(315deg,#09ceff,#e60e7a);
}
.col-md-4:nth-child(2) .colored-card::before    
{
    background:linear-gradient(315deg,#09ce00,#e60eff);
}
.col-md-4:nth-child(3) .colored-card::before    
{
    background:linear-gradient(315deg,#09aa00,#eff);
}
.col-md-4:nth-child(4) .colored-card::before    
{
    background:linear-gradient(315deg,#e00,#40c1aa);
}

*/
.slogen
{
    margin-bottom: 70px;
}
.secure

{
    color: green;
    font-family: Georgia;
    letter-spacing: 5px;
}

.step
{
    height: 120px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}
.step-icon
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid green;
    background-color: white;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-icon i
{
    transform: scale(2);
    color: green;
}
.step-content
{
    padding: 35px 10px 10px 20px;
    letter-spacing: 2px;
}



















