<section class="display">

    <div class="container">
        <div class="row">
            <div class="col md- 7">
                <div class="left">
                        <img src="../../../assets/portfolio/{{singlePlace.image}}" alt="">
                </div>
            </div>
            <div class="col-md 5">
                <div class="right">
                    <h1>{{singlePlace.type}}</h1>
                    <hr>
                    <p>{{singlePlace.description}}</p>
                    <p>Owner Name :  <strong>{{singlePlace.name}}</strong></p>
                    <p>Location :  <strong>{{singlePlace.location}}</strong></p>
                    <select class="mb-3 form-control w-75">
                        <option>Lession</option>
                        <option>week</option>
                        <option>month</option>
                        <option>year</option>
                    </select>
                    <div class="btns d-flex  ">
                        <button class="btn btn-warning mr-3 reserve" (click)="onConfirm()">Reserv</button>
                        <button class="btn btn-success">Favorit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</section>



        <div class="rounded confirm-favorit ">
            <div *ngIf="loggedIn">
                <span>The toltal Cost is 200LE</span><br><br>
                This is You Code To pay With <span class="fawry">Fawry</span>
                <strong> #2253</strong><hr>
                <button class="btn btn-success mr-3" [routerLink]="['/Home']" routerLinkActive="router-link-active"  >Confirm</button>
                <button class="btn btn-danger" (click)="cancle()">Cancel</button>
            </div>
            <div class="warrning-to-login" *ngIf="!loggedIn">
                You need to login First 
                <hr>
                <button class="btn btn-info" (click)="cancle()">OK</button>
            </div>
                
        </div>

