<app-header></app-header>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="#">Favorite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reservation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Group</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Be owner</a>
                  </li>
               
                
              </ul>
              
            </div>
          </nav>
        <div class="row">
            <div class="col-md-3">
                <div class="left-info py-4">
                    <div class="user-img">
                        <img src="../../assets/imgs/w11.jpg">
                    </div>
                    <div class="personal-info">
                        <h4 class="text-center mt-2 text-light">Omar Ahmed </h4>
                    </div> 
                </div>

            </div>
            <div class="col-md-9">
                <div class="right-info">
                            <app-new-place ></app-new-place>
                            
                </div>
            </div>
        </div>
       
        
    </div>

   
    
