
<div class="w-50 m-auto" *ngIf="loading">
    <div class="">
      <div class="loader">Loading...</div>
    </div>
  </div>

<div class="container p-4" *ngIf="!loading">

    <div class="row">
        <div class="col-md-3 home-col">
            <div class="numbers d-flex justify-content-center align-items-center">
                <i class="fas fa-user-circle"></i>
                #USERS
                <div class="noOf">
                    {{details.numOfUsers}}
                </div>
            </div>
        </div>
        <div class="col-md-3 home-col">
            <div class="numbers d-flex justify-content-center align-items-center">
                <i class="fas fa-user-secret"></i>
                #OWNERS
                <div class="noOf">
                    {{details.numOfOwners}}
                </div>
            </div>
        </div>
        <div class="col-md-3 home-col">
            <div class="numbers d-flex justify-content-center align-items-center">
                <i class="fas fa-user-shield"></i>
                #ADMINS
                <div class="noOf">
                    {{details.numOfAdmins}}
                </div>
            </div>
        </div>
    </div>    
    <div class="last-five-users pt-4 px-3 mt-2 pb-2">
        <h3>LAST FIVE USERS </h3>
        <div class="row mt-3">
            <div class="col" *ngFor="let user of details.lastFiveUsers">
                <div class="card" >
                    <img class="card-img-top img-fluid rounded" [src]="user.photo" alt="Card image cap">
                    <div class="card-body">
                        <div class="user-name ">NAME <span class="text-primary">{{user.firstName}}</span></div>
                        <div class="user-age ">USER NAME <span class="text-primary">{{user.age}}</span></div>
                        <div class="user-address ">City <span class="text-primary">{{user.address}}</span></div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   
</div>