/* You can add global styles to this file, and also import other style files */
body
{
    height: 1000px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    scroll-behavior: smooth;
}

input:focus{
    outline: none;
}

  
.owl-theme .owl-nav {
    margin-top: 0px !important; 
    background-color: transparent;
}

element.style {
}
.owl-theme .owl-nav [class*=owl-] {
    
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
