<div class="mt-5"  *ngIf="!loading">
    <div class="container mt-5 mb-3 ">
      <div class="row">
        <div class="col-md-3 home-col">
          <div class="numbers d-flex justify-content-center align-items-center">
              <i class="fas fa-user-circle"></i>
              #Places
              <div class="noOf">
                  {{places.length}}
              </div>
          </div>
      </div>
      </div>
    </div>
  
    <div class="w-50 m-auto" *ngIf="false">
      <div class="">
        <div class="loader">Loading...</div>
      </div>
    </div>
    <div *ngIf="false" class="text-center mt-3">
      <h3 class="text-danger">*NO REQUESTS NOW</h3>
    </div>
  
       <mat-expansion-panel class="mb-1 bg-dark" *ngFor="let place of places;let i=index">
            <mat-expansion-panel-header>
            <mat-panel-title>
            #{{i}}
            
            </mat-panel-title>
            <mat-panel-description class="text-light">
            {{place.placeType}} now is <span class="text-danger"> {{place.state}}</span>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="place-body">
                <div class="main-image">
                    <div class="place-image-cover">
                        <img [src]="place.mainImgPath">
                    </div>
                    <div class="sub-images">
                      <div class="each-sub" *ngFor="let image of place.imaArrary">
                        <img [src]="image">
                      </div>
                    </div>
                </div>
                <div class="place-info py-3 px-4" >

                  <table class="table text-warning">
                    
                    <tbody>
                      <tr>
                        

                        <td>PLACE NAME</td>
                        <td>{{place.name}}</td>
                        
                  
                      </tr>

                      <tr>
                       

                        <td>PRICE PER</td>
                        <td>{{place.pricePer}}</td>

                        
                       
                      </tr>
                      <tr>
                        <td>PRICE</td>
                        <td>{{place.price}} :LE</td>
                      </tr>
                      <tr>
                        <td>{{place.gender}}</td>
                        <td>GENDER</td>

                      </tr>
                      
                      
                    </tbody>
                  </table>
                   <div class="btns">
                      <button class="btn btn-outline-danger mr-3" (click)="deletePlaceRequest(place._id)">reject</button>
                      <button class="btn btn-success" (click)="showBox(place._id)">accept</button>
                   </div>
                </div>
            </div>
         </mat-expansion-panel>

        

  </div>



  <div class="alert-confirm " *ngIf="alert">
    <div class="alert-box">
        <div class="text-success confirmation-text">CONFIRMATION BOX</div>
        <hr class="mb-3">
        By confirming this request user Will be owner 
        and can add place 
        <div class="mt-3">
            <button class="btn btn-outline-danger mr-3" (click)=cancle()>cancle</button>
            <button class="btn btn-success" (click)="onConfirm()">CONFIRM</button>

        </div>
    </div>
</div>